BasedOnStyle: LLVM
BreakBeforeBraces: Allman

AlignAfterOpenBracket: Align
AlignOperands: DontAlign
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Never

PointerAlignment: Left
SpaceBeforeParens: ControlStatements
BinPackArguments: false
BinPackParameters: false
